/* client/src/index.css */
:root {
  --appbar-h: 64px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  padding-top: var(--appbar-h);
}

html {
  scrollbar-gutter: stable;
}

/* Поднимаем Drawer при анимациях, если нужно перекрытие */
.RaSidebar-fixed .MuiDrawer-paper { z-index: 1200; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
